* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
}

:root {
 --nav-color: #1a222e;
 --body-color: #0f161e;
 --boton-color: hsla(0,0%,100%,.3);
 --amazon-blue: #009de1;
}
body {
    background: var(--body-color);
}
li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}


nav {
    padding:0px 32px; 
    background-color: var(--nav-color);
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
nav div {
    height: 100%;
    display: flex;
    align-items: center;

}
nav div ul {
    display: flex;
    align-items: center;
    height: 100%;
}
nav div ul li {
    align-items: center;
    
    padding: 8px;
}
.height100{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-amazon {
    height: 100%;
    padding: 15px 0;
    margin-right: 5px;
}
.icons {
    height: 100%;
    padding: 5px;
}
.headerLsit-container {
    position: relative;
    width: 100vw;
    display: flex;
    height: 30vh;
    justify-content: center;
    padding: 10px;
}
.dots-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    
}
.headerList {
    width: 90%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}
#item-nav-categories {
    height: 30vh;

}
.scroll-bottom-container {
    position: relative;
    width: 5%;
    height: 100%;

}
.scroll-bottom-container:hover {
    background: linear-gradient(90deg,transparent 0,hsla(0,0%,7%,.6))

}
.scroll-bottom-container-left:hover {
    background: linear-gradient(-90deg,transparent 0,hsla(0,0%,7%,.6))

}
.scroll-bottom-container-right:hover {
    background: linear-gradient(90deg,transparent 0,hsla(0,0%,7%,.6))

}

.scroll-bottom-container-left {
    position: absolute;
    width: 5%;
    height: 100%;
    left: 0;
    
}
.scroll-bottom-container-right {
    position: absolute;
    width: 5%;
    height: 100%;
    right: 0;
;
}

.buttonNext {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.buttonPreview {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-container {
    display: flex;
    min-width: 100%;
    margin: 0 10px;
    height: 100%;
    scroll-snap-align: center;
}
.header-container--left {
    width: 50%;
    height: 100%;
}
.header-container--right {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
/* #header-container-categories--right {
    display: flex;
} */
#downdrop-gendres {
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 66%;
}
#anotherCategories {
    width: 34%;
    height: 100%;
}
#categorias-prinpales-container {
    /* margin: 5px 30px;
    padding: 0px 20px; */
    height: 100%;
    display: grid;
    grid-template-areas: "head head head"
                         "cat1  cat2 cat3"
                         "cat4  cat5 cat6"; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  20px 1fr 1fr;
    gap: 30px;
    margin: 0 30px 0px 100px;

}
#categorias-prinpales-container--title {
    grid-area: head;
}
#cat1{
    grid-area: cat1;
}
#cat2{
    grid-area: cat2;
}
#cat3{
    grid-area: cat3;
}
#cat4{
    grid-area: cat4;
}
#cat5{
    grid-area: cat5;
}
#cat6{
    grid-area: cat6;
}
.categoria-principal-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--amazon-blue);
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
}
.input-radio {
    margin:0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.3);
    box-shadow: #0f161e;
}


.downdrop-gendres {
    background: rgb(230, 223, 223);
    width: 100vw;
    height: 30vh;
}
.categoria-container {
    width: 100%;
    position: relative;
}
.category-container--list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    
}
.movie-container {
    margin: 10px 10px;
    /* margin-left: 10px; */
    scroll-snap-align: start;
}
.movie-img {
    min-width: 270px;
    border-radius: 5px;
}
.hidden {
    display: none;
}

/* rotaciones y traslaciones */
.rotate270 {
    transform: rotate(-90deg);
}

.rotate90 {
    transform: rotate(90deg);
}