* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
}

:root {
 --nav-color: #1a222e;
 --body-color: #0f161e;
}
body {
    background: var(--body-color);
}
li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}


nav {
    padding:0px 32px; 
    background-color: var(--nav-color);
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
nav div {
    height: 100%;
    display: flex;
    align-items: center;

}
nav div ul {
    display: flex;
    align-items: center;
    height: 100%;
}
nav div ul li {
    align-items: center;
    
    padding: 8px;
}
.height100{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-amazon {
    height: 100%;
    padding: 15px 0;
    margin-right: 5px;
}
.icons {
    height: 100%;
    padding: 5px;
}
.headerLsit-container {
    position: relative;
    width: 100vw;
    display: flex;
    height: 30vh;
}
.dots-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    
}
.headerList {
    width: 90%;
    height: 100%;
    /* position: relative; */
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: scroll;
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    scroll-snap-type: x mandatory;
}
.scroll-bottom-container {
    position: relative;
    width: 5%;
    background: palegoldenrod;
    height: 100%;
}
.buttonNext {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}
.buttonPreview {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}
.header-container {
    display: block;
    /* background: gray; */
    width: 100%;
    margin: 0 10px;
    height: 100%;
    scroll-snap-align: center;
    display: flex;
}
.header-container--left {
    width: 750px;
    height: 100%;
}
.header-container--right {
    width: 50%;
    height: 100%;
    /* background: palegoldenrod; */
}

.input-radio {
    margin:0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aliceblue;
    box-shadow: #0f161e;
}

.downdrop-gendres {
    background: rgb(230, 223, 223);
    width: 100vw;
    height: 30vh;
}
.category-container--list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.movie-container {
    margin: 10px 10px;
    /* margin-left: 10px; */
}
.movie-img {
    border-radius: 5px;
}
.hidden {
    display: none;
}
